@font-face {
  font-family: Circular;
  src: url('circular-book.woff2');
}
body {
  font-family: Circular, Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
}

.navbar-dark {
  background-color: rgba(0,0,0,.6);
}

.navbar-dark .navbar-nav>li>a {
  color: #fff;
  padding: 28px 17px;
  font-weight: 700;
  line-height: 24px;
}
.navbar-dark .navbar-nav>li.alternate>a {
  color: #c1c3c6;
}
.nav>li>a:focus,
.nav>li.alternate>a:hover,
.nav>li>a:hover {
  background-color: inherit;
  color: #1db954; /*color: #9bf0e1;*/

}
.bg-main {
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, #ff4169 0, #7c26f8 100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  /* CURRENT BACKGROUND background-color: #f037a5;
  background: linear-gradient(#f037a5 -50%,#fae62d 120%);*/
}

.bg-main-img {
  display: block;
  background-image: url('../img/bg-albums.png');
  width: 100%;
  height: 100%;
  background-position: center;
}
.nav .divider {
  background-color: #d9dadc;
  width: 1px;
  height: 16px;
  margin: 32px 17px;
}

.navbar-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 132px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  float: left;
  background-image: url('../img/logo.svg');
}

.text-white {
  color: white;
}

.jumbotron {
  background: none;
  padding: 100px 0;
  text-align: center;
  margin: 0;
  position: relative;

}
.jumbotron .container{ width: 100%;}
.carousel-control.right, .carousel-control.left {
  background: none;
}
.carousel-control.right span.icon-next:before, .carousel-control.left span.icon-prev:before{
  font-size: 2em;
}


.btn {
  padding: 17px 48px;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
}

.jumbotron .btn {
  margin: 20px 10px 30px;
}

.btn-solid {
  color: #fff;
  background-color: #7c25f8;
}
.btn-solid:hover {
  color: #fff;
  background-color: #6207e3;
}

.btn-lg {
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 21px 56px 19px;
}

.item h1 {
  font-weight: 900;
}

.text-signup a {
  color: #fff;
  text-decoration: underline;
}

#carousel-tour {
  margin-top: 50px;
}

.text-klein-purple {
  color: #7c25f8;
}

.bg-white {
  background-color: #fff;
}

a.btn-scroll {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}

a.btn-scroll:hover {
  color: #9bf0e1;
}

.btn-scroll-text {
  text-transform: uppercase;
  transition: color .3s ease-in-out;
  display: block;
  font-weight: 700;
  letter-spacing: .1em;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  line-height: 1;
  margin: 0 0 .75em;
  font-weight: 900;
}

h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
}

.jumbotron-whats-on {
  text-align: left;
  padding: 180px 0;
}

.jumbotron p {
  font-weight: 400;
  font-size: 18px;
  margin: 1em 0;
}

.album-img {
  padding: 0;
}
.text-aquamarine {
  color: #9bf0e1;
}

.iphone {
  width: 358px;
  height: 730px;
  padding: 80px 22px 0;
  margin-bottom: 30px;
  background: url('../img/iphone-klein-purple.png') no-repeat;
  background-size: cover;
}

.iphone-1, .iphone-4 {
  margin-top: 200px;
}

.devices-container {
  margin-top: -350px;
  margin-bottom: -620px;
  margin-right: -100%;
  float: left;
  transform: rotate(30deg) translate3d(0,40px,0);
}

.devices-container img {
  max-width: 100%;
}
.jumbotron-devices {
  background: #222326;
}

.jumbotron-devices img {
  margin-bottom: 60px;
}

.jumbotron-devices .device-list {
  display: inline;
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  text-transform: uppercase;
  font-weight: 700;
}

.jumbotron-devices .device-list li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1em 0;
}

.jumbotron-devices .device-list li:after {
  content: '-';
  padding-left: 14px;
  color: #7c25f8;
}

.jumbotron-devices .device-list li:last-child:after {
  content: '';
}

.jumbotron-devices .device-list a {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}
.devices-container {
  margin-top: -350px;
  margin-bottom: -620px;
  transform: rotate(30deg) translate3d(0,40px,0);
}

.grid-overflow {
  margin-right: -100%;
  float: left;
}
.jumbotron h1 {
  font-weight: 900;
}
.jumbotron-subscriptions {
  padding: 150px 0 0;
  text-align: left;
}

.jumbotron-subscriptions .btn {
  margin-top: 30px;
  margin-bottom: 70px;
}

.price-title {
  float: left;
  margin: 0;
}

.price {
  float: right;
  margin: 0 0 12px;
}

.month {
  font-size: 20px;
}

.details-subscriptions {
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
  padding: 16px 0;
  padding-left: 0;
  list-style: none;
  font-weight: 700;
  margin-bottom: 0;
}

.details-subscriptions {
  font-size: 24px;
}

.tour-variation p:first-child {
  float: left;
}

.tour-variation p:last-child {
  float: right;
}

.tour-variation a {
  color: #9bf0e1;
  text-decoration: none;
}

.tour-variation a:hover {
  color: #42e3c6;
}

p.legal {
  font-size: 12px;
  margin-top: 8px;
}

p.legal a {
  text-decoration: underline;
}

p.legal a:hover {
  color: #42e3c6;
}

.nexus {
  width: 458px;
  height: 873px;
  padding: 60px 24px 0 18px;
  background: url('../img/nexus-klein-purple.png') no-repeat;
  background-size: cover;
  margin-bottom: -50%;
}

.nexus img {
  max-width: 100%;
}
