body{
  margin: 0;
}
header {
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url('../img/background-netflix-header.jpg');
  height: 100vh;
}
header nav {
  height: 90px;
}
header nav img{
  width: 167px;
  height: 45px;
  vertical-align: middle;
}
nav .logo{
  display: inline-block;
  line-height: 90px;
  margin-left: 3%;
}
nav .signin{
  color: #fff;
  float: right;
  background-color: #e50914;
  line-height: normal;
  margin-top: 18px;
  margin-right: 3%;
  padding: 7px 17px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
}
